{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
            <link rel="stylesheet" href="{% static 'admin_style.css' %}">

</head>
<body>
{% include 'navbar_admin.html' %}

{% block content %}
<script>
window.onload = function define_select_default(){
    switch ("{{ deed.status }}"){
        case "В анализе":
        {
            document.getElementById("analysis").setAttribute("selected", "selected")
            break
        }
        case "Одобрено кредитной комиссией":
        {
            document.getElementById("offer_accepted").setAttribute("selected", "selected")
            break
        }
        case "Отклонено кредитной комиссией":
        {
            document.getElementById("offer_rejected").setAttribute("selected", "selected")
            break
        }
        case "Определена дата сделки":
        {
            document.getElementById("deed planned").setAttribute("selected", "selected")
            break
        }
        case "Договор подписан":
        {
            document.getElementById("deed signed").setAttribute("selected", "selected")
            break
        }
    }

}
</script>

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
<br />
        <br />
    <select name="status_update" onload="define_select_default({{ deed.status }})">
        <option id="offer_accepted" value="Одобрено кредитной комиссией">Одобрено кредитной комиссией</option>
        <option id="offer_rejected" value="Отклонено кредитной комиссией">Отклонено кредитной комиссией</option>
        <option id="analysis" value="В анализе">В анализе</option>
        <option id="deed planned" value="Определена дата сделки">Определена дата сделки</option>
        <option id="deed signed" value="Договор подписан">Договор подписан</option>
    </select>
    <input class="submit" type="submit" value="Утвердить изменения">
    </form>


<hr/>

    <h2>Данные клиента</h2>
    <h5>Имя - {{ deed.client_profile.name }}</h5>
    <h5>Фамилия - {{ deed.client_profile.last_name }}</h5>
    <h5>Номер телефона - {{ deed.client_profile.phone_number }}</h5>
    <h5>Продукт - {{ deed.product.name }}</h5>
    <h5>Клиент - {{ deed.client_profile.type }}</h5>
    <h5>Статус - {{ deed.status }}</h5>
    <h5>Сумма лизинга - {{ deed.loan_amount }} рублей</h5>
    <h5>Размер ежемесячного платежа - {{ deed.regular_payment_size }} рублей</h5>
    <h5>Процентная ставка - {{ deed.rate }}%</h5>
    <h5>Срок - {{ deed.duration }} месяцев</h5>
    <h5>Продукт - {{ deed.product.name }}</h5>
    {% if deed.date_signed != None %}
            <h5>Дата подписания - {{ deed.date_signed }}</h5>
    {% endif %}


    <form id="download_form" target="_blank" method="post" action="{{ download_link }}">
        {% csrf_token %}

    <input name="client_profile" type="hidden" value="{{ deed.client_profile.id }}">
    <input class="submit" type="submit" value="Скачать архив документов клиента">
    </form>
    {% if deed.client_profile.id != None %}
    <form target="_blank" method="post" action="/download_contract">
        {% csrf_token %}

    <input name="client_profile" type="hidden" value="{{ deed.client_profile.id }}">
    <input class="submit" type="submit" value="Скачать копию договора">
    </form>
    {% endif %}
{% endblock %}
</body>
</html>