<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'main.html' %}

{% block content %}
    {% for application in applications %}
    <div class="application_card">
    <h2><a href="/a/application/{{ application.id }}">{{ application.product.name }}</a> </h2>

    <p>{{ application.client_profile.name }} {{ application.client_profile.last_name }}, {{ application.date_applied }}</p>
    <hr />
    </div>
    {% endfor %}

{% endblock %}
</body>
</html>