{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Easyleasy</title>
            <link rel="stylesheet" href="{% static 'user_products_style.css' %}">

</head>
<body>
{% include 'navbar_user.html' %}

{% block content %}

<div class="product">
    <h1>{{ product.name }}</h1>
    Выгодные тарифы для этого и других продуктов очень приятно удивляют всех граждан
    <h2>Характеристики продукта:</h2>
    <h4>Минимальная длительность - {{ product.min_duration }} месяцев</h4>
    <h4>Максимальная длительность - {{ product.max_duration }} месяцев</h4>
    <h4>Вид лизинга - {{ product.type }}</h4>
    <h4>Минимальнная сумма - {{ product.min_amount }} рублей</h4>
    <h4>Максимальная сумма - {{ product.max_amount }} рублей</h4>

</div>


{% endblock %}
</body>
</html>