<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hahaha</title>
</head>
<body>
{% extends 'main.html' %}

{% block content %}
{#<form method="POST">#}
{#    {% csrf_token %}#}
{#    <table>#}
{#        {{ form_username }}#}
{#    </table>#}
{#    <input type="submit" value="Изменить">#}
{#</form>#}
<form method="POST">
    {% csrf_token %}
    <table>
        {{ form_password }}
    </table>
    <input type="submit" value="Изменить">
</form>


    <h2>Мои заявки</h2>
{% for application in applications %}

    <div>
    <hr>
    Продукт - {{ application.product.name }}<br>
    Дата подачи заявки - {{ application.date_applied }}<br>
    {{ application.client_profile.name }} <br>
    {{ application.client_profile.last_name }} <br>
    {{ application.status }}

    <hr>
    </div>

{% endfor %}
{% endblock %}




<h2>Мои сделки</h2>




</body>
</html>